* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: yellowgreen;
}
.wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  /* width: 550px; */
  padding: 40px 50px;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 20px;
  box-shadow: 0 15 50 rgba(86, 66, 0, 0.2);
}
.gameContainer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  /* width: 100%; */
  display: grid;
  gap:10px;
}
.statusContainer{
  text-align: right;
  margin-bottom: 20px;
}
.statusContainer span{
  font-weight: 600;
}
.card-container{
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.card-before,
.card-after {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
  transition: transform 0.7s ease-out;
  backface-visibility: hidden;
}
.card-before{
  background-color: orange;
  font-size: 50px;
  font-weight: 600;

}
.card-after{
  background-color: white;
  transform: rotateY(180deg);
}
.card-container.flipped .card-before{
  transform: rotateY(180deg);

}
.card-container.flipped .card-after{
  transform: rotateY(0deg);
}
.image{
  width: 100px;
  height: 100px;
}


.controlsContainer{
  position: absolute;
  display: flex ;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: yellow;
  top: 0;

}
button {
 border: none;
 border-radius: 5px;
 padding: 16px 24px;
 cursor: pointer;
}
#stop{
  font-size:18px;
  display: block;
  margin: 18px auto 0 auto;
  background-color: black;
  color: white;
}
.controlsContainer button{
  font-size:21px;
  box-shadow: 0 9px 32px rgba(86, 66, 0, 0.2) ;

}

.hide{
  display:none ;
}

#result{
  text-align: center;
}
#result h2{
  font-size:40px ;
}

#result h4{
  font-size:28px ;
  margin:10px 2px 0;
}
body{
  display: flex;
}

/* media query */
@media screen and (max-width:602px) {
  .wrapper,.gameContainer{
    display: flex;
    flex-wrap: wrap;
    
    width: 100px;
    
   }
  .controlsContainer{
    display: flex;
    flex-wrap: wrap;
  }
}